
body {
    margin: 0;
}

body {
   /* font: Helvetica, Verdana, sans-serif; */
    font: 20px/1.5 Helvetica, Verdana, sans-serif;
}

p {
    margin: 4px;
    padding: 2px;
}

h1, h2 {
    margin: 4px;
}

blockquote {
    background: #00e1ff;
    border-left: 10px solid #ff00b2;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote p {
    display: inline;
}

main {
    text-align: left;
}

.body-content {
    display: inline-block;
   /* font: 20px/1.5 Helvetica, Verdana, sans-serif;*/
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 5px;
}

th, td {
    padding: 0.5em;
}

section {
    margin: 0.5em;
}

.tabbar-icon {
    margin-right: 0.5em;
    width: 46px;
}
.icon-row {
    display: flex;
    flex-direction: row;
    height: 48px;
    padding: 10px 0;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-badge {
    float: left;
    margin-right: 0.5em;
}
